ul{
    list-style-type: none;
    display: flex;
    justify-content:space-between ;
    background-color:cadetblue;
}
li{
 flex: 1;   
margin: 7px;
padding: 7px;
}
.delBtn{
    background-color:darkred;
    color:darkturquoise;
}
.editBtn{
    background-color:lightgreen;
    
}
.status{
    background-color: limegreen;
}
.nostatus{
    background-color:crimson;
}
.errors{

    background-color: lightcoral;
    padding: 20px;
    }